html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell; 
    vertical-align: middle;
    margin: auto;
} 

input{
    width: 95%;
    height: 45%;
    display: block;
    margin: auto;
}
table{
    width: 30%;
    height: 65%;
}
.th1{
    width: 25%;
   
}
.th2{
    width: 8%;
}
.th3{
    width: 35%;
}
.th4{
    width: 8%;
}
.th5{
    width: 16%;
}

td{
    height:9%;
}
th{
    height:4.5%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }   
.center {
    margin-left: auto;
    margin-right: auto;
    }
h1 {   
    width: 15%;
    background-color: #2e7ba8;
    text-align: center;
    margin: auto;
}
p {text-align: center;}
#add {
    margin-left: auto;
    margin-right: auto; 
}
.div1 {
    text-align: center;
}
.btn{
    border: 0.5px solid black;
    background-color: rgb(157, 157, 221);
    color:black;
    margin: 20px; 
}

.td1{
    background-color: rgb(93, 93, 136);
    color:white;
}
.td{
    background-color: rgb(125, 125, 226);
    color:#4800ff;
    text-align: right;
}
.bt{
    width: 50%;
    margin: auto;
    display: flex;
}
.textlast{
    color: red;
    line-height: 0.5;
}
.textfirst{
    line-height: 0.5;
}