@import url("https://fonts.googleapis.com/css?family=Asap&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");

.demo {
    margin-right: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: right;   
}

.button_lang {
    cursor: pointer;
    display: inline-block;
    padding: 0.25em 0em;
    border-radius: 10px; 
    width: 4em;
    transition: 1 ease; 
}
.button_lang:hover {
    background: #b5d6b2;
    transition: 0.25s ease;
}
  
.current_lang {
    background: #b5d6b2;
}
  



html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    /* margin: auto; */
}

body {
    display: table-cell; 
    vertical-align: middle;
    margin: auto; 
} 

input{
    width: 90%;
    height: 40%;
    display: block;
    margin: auto;
}
table{
    width: 24%;
    height: 57.5%;
}
.th1{
    width: 26%;
   
}
.th2{
    width: 8.5%;
}
.th3{
    width: 36.5%;
}
.th4{
    width: 8.5%;
}
.th5{
    width: 20.5%;
}

td{
    height:8.5%;
}
th{
    height:5%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }   
.center {
    margin-left: auto;
    margin-right: auto;
    }
h1 {   
    width: 15%;
    background-color: rgb(181, 205, 250);
    text-align: center;
    margin: auto;
}
p {text-align: center;}
#add {
    margin-left: auto;
    margin-right: auto; 
}
.div1 {
    text-align: center;
}
.btn{
    /* border-radius:10px;  */
    min-width: 100px;
    height: 25px;
    border: 0.5px solid black;
    background-color: rgb(181, 205, 250);
    color:black;
    margin: 20px; 
}

.td1{
    background-color: rgb(123, 158, 246);
    color:white;
}
.td{
    background-color: rgb(181, 205, 250);
    color:#4800ff;
    text-align: right;
}
.bt{
    width: 50%;
    margin: auto;
    display: flex;
}
.textlast{
    color: red;
    line-height: 0.5;
}
.textfirst{
    line-height: 0.5;
}
.td0{
    height: 10px;
}